.notblock {
    padding: 50px;
    border: none !important;
    width: 90px !important;
}

.block {
    width: 90px !important;
    height: 30px;
    background: white;
    border: 2px solid blue !important;
    border-radius: 15px;
    text-align: center;
}

connection {
    border: 2px solid black;
    border-radius: 31px;
    z-index: -999;
   
    
}
.input-border:hover
{
    border: 1px solid black !important;
    border-radius: 5px;
}