<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" >
        <title id = "title_page">Thanh</title>
        <link type = "text/css" rel = "stylesheet" href = "css/example.css">
    </head>
    <body>
        <nav>
			<a href="./default.html">HOME</a>|
			<a href="/about">ABOUT US</a>
		</nav>
        <div id = "main">

            <div class = "image-student">
                
            </div>
            
            <div class = "infor">
                <h2>Họ tên: <%= student %></h2>
                <h2>MSSV: <%= mssv %></h2>
                <h2>Ngày sinh: 11/06/2000</h2>
                <h2>Email: <a href="#"><%= email %></a> </h2>
        
            </div>

        </div>

    </body>
</html>

