<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Home</title>
        <link href="css/home.css" rel = "stylesheet" >
    </head>

    <body>
        <div id = "container">
            <div id = "Title-page">
                <h1>My Home</h1>
                
            </div>
            <div id = "main">
                <div class = "Image-page">
                    <img src ="/image/1.jpg"  width = "600" height = "600" type = "image/jpg" alt = "Hình chó"></img>
                </div>

                <div class = "Login">
                    <form method="POST" action="/profile">
                        <div >
                            <h1>Đăng Nhập</h1>
                        </div>
                        <div class = "box">
                            <div>
                                <div class = "input-box">
                                    <input name= "username" type = "text" placeholder= "Nhập user name">
                                </div>

                                <div class = "input-box">
                                    <input name = "password" type = 'password' placeholder = "Nhập password">
                                </div>
                            </div>
                        </div>
                        <div class = "submit-button">
                            <button type = "submit">Đăng Nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>