<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" >
        <title id = "title_page">Register</title>
    </head>
    <body>
        <form method = 'POST' action="/">
            <input name= "name_player" type = "text" placeholder= "Nhập Họ và tên">
            <input name= "email_player" type = "email" placeholder= "Nhập email">
            <button type = "submit">Đăng Nhập</button>
        </form>
    </body>
</html>

