<header>
<body class="main-background"></body>
	<div class="container-dropdown" style="height: 82px; background-color: none !important;" >
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target ftco-navbar-dark" id="ftco-navbar">
			<div class="container">
			  <a class="navbar-brand" href="/">
				  <img src="/img/svg_icon/icon-home.png" alt="Home" height="120px" width="120px">
				</a>
			  <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			  </button>
	
			  <div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav nav ml-auto text-white">
					<ul class="navbar-nav nav ml-auto">
						<li class="nav-item"><a href="/" class="nav-link"><span class = "text-white">Home</span></a></li>
						<li class="nav-item"><a href="index.html#About" class="nav-link"><span  class = "text-white">About us</span></a></li>
						<li class="nav-item"><a href="/player" class="nav-link"><span class = "text-white">Players</span></a></li>
						<li class="nav-item"><a href="/player" class="nav-link"><span class = "text-white">Matchs</span></a></li>
						
						<% if (!locals.session.user) {%>
							
							<li class="nav-item"><a href="/register" class="nav-link"><span class = "text-white">Register</span></a></li>
							<li class="nav-item"><a href="/login" class="nav-link"><span class = "text-white">Login</span></a></li>
							
						<%} else {%>
							<li class="dropdown-acc nav-item "><a href="/profile" class="nav-link"><span class = "text-white"><%= session.user.HoTen%></span></a>
								<ul role = "menu" class="sub-menu-acc">
									<li><a href="/profile">Information</a></li>
									<li><a href="/logout">Log out</a></li>
								</ul>
							</li>
							
						<%}%>	
					  </ul>
				</ul>
			  </div>
			</div>
		  </nav>
    </div>
</header>